@model IEnumerable<Papeleria.LogicaAplicacion.DataTransferObjects.Dtos.Clientes.ClienteDTO>

<p>
    <a asp-action="Create">CREAR NUEVO CLIENTE</a>
</p>
<h1>BUSCAR CLIENTES</h1>
<hr />
<partial name="_Mensajes" />
@* <form method="post">
    <input type="text" placeholder="Ingrese razon social" name="razonSocial" /><input type="submit" value="Filtrar" />
</form>
<br />
<form method="post">
    <input type="number" placeholder="Ingrese un monto" name="monto" /><input type="submit" value="Filtrar" />
</form> *@

<form method="post">
    <input type="text" placeholder="Ingrese razón social" name="razonSocial" />
    <input type="submit" value="Filtrar X Razon" name="submitButton" />
</form>
<br />
<form method="post">
    <input type="number" placeholder="Ingrese un monto" name="monto" />
    <input type="submit" value="Filtrar X Monto" name="submitButton" />
</form>



<p>
    @if (@TempData["ResultadoBuscarClientes"] != null)
    {
        @TempData["ResultadoBuscarClientes"].ToString()
    }
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                RUT
            </th>
            <th>
                Razón Social
            </th>
            <th>
                Calle
            </th>
            <th>
                Número
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Distancia en KM
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distancia)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
