@model IEnumerable<Papeleria.LogicaAplicacion.DataTransferObjects.Dtos.Pedidos.PedidoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Crear">CREAR PEDIDO</a>
</p>
<h1>BUSCAR PEDIDOS DESDE FECHA</h1>
<hr />

<form method="post">
    <input type="date" placeholder="Ingrese fecha para buscar pedidos desde la misma" name="date" />
    <input type="submit" value="Filtrar" name="submitButton" />
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                    @foreach (var cliente in ViewBag.Clientes)
                    {
                        if(cliente.Id.Equals(item.ClienteID))
                        {
                            @cliente.razonSocial;
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioFinal)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Anular" asp-route-id="@item.Id">Anular</a>
            </td>
        </tr>
}
    </tbody>
</table>
