@model IEnumerable<Papeleria.LogicaAplicacion.DataTransferObjects.Dtos.Pedidos.PedidoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos pendientes de entrega</h1>

<p>
    <a asp-action="Crear">CREAR PEDIDO</a>
</p>
<h4>BUSCAR PEDIDOS DESDE FECHA</h4>
<hr />

<form method="post">
    <input type="date" placeholder="Ingrese fecha para buscar pedidos desde la misma" name="date" />
    <input type="submit" value="Filtrar" name="submitButton" />
</form>

<p>@ViewBag.Mensaje</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Pedido
            </th>
            <th>
                Razon Social
            </th>
            <th>
                Precio Final $
            </th>
            <th>
                Entregado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.anulado)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPedido)
                    </td>
                    <td>
                        @foreach (var cliente in ViewBag.Clientes)
                        {
                            if (cliente.Id.Equals(item.ClienteID))
                            {
                                @cliente.razonSocial
                                ;
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.entregado)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                        <a asp-action="Anular" asp-route-id="@item.Id">Anular</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
